/*CollectionPage CSS*/

.search_bar_main {
    border: 1px black solid;
    display: inline-block;
    right: 75%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    z-index: 1;
    background-color: lightgray;
}

.collection_bar_main {
    overflow: auto;
    border: 1px black solid;
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 25%;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.collection_title {
    padding: 0 auto; 
    width: 99.9%;
    height: 20%;
    margin: 0 0;
    text-align: center;
    background-color: gray;
    z-index: 2;
    border: 0.5px gray dashed;
}

.toolbar_buttons  {
    position: fixed;
    right: 20px;
    z-index: 3;
}

/*CollectionTable CSS*/

.collection_table_title {
    border-bottom: 1px black solid;
    border-top: 1px black solid;
    margin: 0 auto;
    width: 100%;
    display: flex;
    text-align: center;
    padding: 0;
    background-color: gray;
}

.collection_result_gray {
    margin: 0 auto;
    width: 100%;
    display: flex;
    text-align: center; 
    background-color: darkslategray;
    color: white; 
    padding: 0
}

.collection_result_white {
    margin: 0 auto;
    width: 100%;
    display: flex;
    text-align: center; 
    background-color: lightslategray; 
    padding: 0
}


/*CollectionPageNavPanel CSS*/


.nav_panel_wrapper {
    padding: 0 auto; 
    width: 100%;
    height: 20%;
    margin: 0 auto;
    text-align: center;
    background-color: lightgray;
    z-index: 2;
    border-top: 1px black solid;
}

.nav_panel_elements {
    display: inline-block;
    margin: auto;
    padding: 10px 10px;
}

.page_nav_text_input {
    height: 25px;
    width: 35px;
    text-align: center;
}


.nav_inline {
    display: inline;
    font-weight: bold;
}

.nav_horizontal_padding {
    padding-right: 10px;
}

/*CollectionTableElement CSS*/

.collection_elem_image_panel {
    padding: 0;
    height: auto;
    width: 150px;
    flex: 3
}

.collection_table_mana_cost {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    padding: 5px 5px;
}

/*CollectionTableListForm CSS*/

#list_sort_panel {
    width: 100%;
    padding-bottom: 3px; 
    margin: 0 auto; 
    border-top: 1px solid black; 
    border-bottom: 1px solid black;
    background-color: lightgray;
}

#sortby_position {
    display: inline-block; 
    padding-right: 5px; 
    padding-left: 10px;
}

/*SearchBox CSS*/


.searchbox_dropdown {
    overflow: auto;
    display: fixed;
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: 2
}