/*Shared CSS*/

.preview_panel {
    width: 270px; 
    height: 190px;
    border: 1px black solid;
    padding: 0;
    margin: 0;
}

.shrunk_preview_panel {
    width: 150px; 
    height: 110px;
    border: 1px black solid;
    padding:0;
    margin: 0;
}

/*ListingMainPage CSS*/
.listing_main_page {
    text-align: center;
}

/*ListingTable CSS*/

.listing_title {
    width: 90%;
    display: flex;
    margin: 0 auto;
    padding: 0;
    border-bottom: 1px solid black;
    text-align: left;
    font-weight: bold;
}

.listing_elem_white {
    width: 90%;
    display: flex;
    margin: 0 auto;
    text-align: left;
    padding: 0;
    background: white
}

.listing_elem_gray {
    width: 90%;
    display: flex;
    margin: 0 auto;
    text-align: left;
    padding: 0;
    background:  lightgray
}


/*SearchPopupBody CSS*/

.popup_search_dropdown {
    overflow: auto;
    display: fixed;
    position: absolute;
    height: 82%;
    width: 99.8%;
    z-index: 2;
}

.popup_result_hoverable:hover {
    background-color: blue;
    color: white;
}
  